HOST=127.0.0.1
PORT=3001
VITE_PORT=5173
APP_ORIGIN=http://localhost:5173
DATABASE_PATH=data/goatara.sqlite
SUPABASE_DB_URL=postgresql://postgres.ihfreezcbzxqogrbbeut:LaughingLab1011!@aws-0-ca-central-1.pooler.supabase.com:5432/postgres
DEMO_MODE=false
AUTH_DISABLED=true
COOKIE_SECURE=false
TRUST_PROXY=false
LEAD_WEBHOOK_SECRET=e7f780b49e463ceb370981654e07cba03aef12595562634f3771ac7bd4fddd47